<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>24/7<br>Customer Service</h4>
                    <div class="line-dec"></div>
                
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Lovely Web Design</h4>
                   <br> <div class="line-dec"></div>
                   
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Quick Service</h4>
                    <br><div class="line-dec"></div>
                    
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>Secure<br>payments</h4>
                    <div class="line-dec"></div>
        
                    
                </div>
            </div>
        </div>
    </div>
</section>